---
name: Lint
on:
  push:

permissions:
  contents: read

jobs:
  build:
    name: Helmfile Lint
    runs-on: my-arc-runners
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run helmfile lint
        uses: helmfile/helmfile-action@v2.0.4
        with:
          helmfile-args: lint
          helmfile-version: "v0.169.2"
